<!doctype html>
<html lang="en">
  <head>
    <title>The Masked Manual</title>
    <meta name="description" content="Mask and respirator data in your pocket.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://the-masked-manual.herokuapp.com/">
    <meta property="og:title" content="The Masked Manual">
    <meta property="og:description" content="Mask and respirator data in your pocket.">
    <meta property="og:image" content="https://the-masked-manual.herokuapp.com/static/logo_social_media.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://the-masked-manual.herokuapp.com/">
    <meta property="twitter:title" content="The Masked Manual">
    <meta property="twitter:description" content="Mask and respirator data in your pocket.">
    <meta property="twitter:image" content="https://the-masked-manual.herokuapp.com/static/logo_social_media.png">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">The Masked Manual</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="terms_and_conditions">Terms and conditions</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="privacy_policy">Privacy policy</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="github">GitHub</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="ios_app_store">iOS app store</a>
            </li>  
          </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
        <footer>
            <hr>
            Created by <a href="https://oliver-ernst.com">Oliver K. Ernst</a> (2020). 
            <br />
            Released under MIT license.
        </footer>
    </div>

  </body>
</html>