{% extends 'base.html' %}

{% block content %}
    
{% block title %} 
<h1> The Masked Manual iOS app </h1> 

<p>
This application lets you easily search for a face mask's qualifications from federal agencies in the U.S. Both surgical masks and respirators are supported.
</p>

<p>
<img src="{{ url_for('static', filename= 'screenshots.png') }}" alt="screenshots" style="width:100%; max-width:800px;"/>
</p>

<p>
    The source for each data is listed explicitly in the application for each mask or respirator entry. Data are sourced from:
    <ul>
        <li><a href="https://open.fda.gov">openFDA of the U.S. Food and Drug Administration (FDA)</a></li>
        <li><a href="https://www.fda.gov/medical-devices/coronavirus-disease-2019-covid-19-emergency-use-authorizations-medical-devices/personal-protective-equipment-euas">Emergency Use Authorizations for Medical Devices of the U.S. Food and Drug Administration (FDA)</a></li>
        <li><a href="https://www.cdc.gov/niosh/npptl/">National Personal Protective Technology Laboratory (NPPTL) of the Centers for Disease Control and Prevention (CDC)</a></il>
    </ul>
</p>

<p>
    The substantive content of the materials has not been changed from their original sources.
</p>

<p>
    The material is otherwise available on the respective agency website for no charge.
</p>

<p>
    The terms of service for all data follow from their source as indicated for each entry for a mask. Data from openFDA is available under Creative Commons CC0 1.0 Universal dedication (timestamp: 11/28/2020). Data from the CDC provided here is not under copyright and is in the public domain (timestamp: 11/28/2020). Data from the FDA provided here is not under copyright and is in the public domain (timestamp: 11/28/2020).
</p>

<p>
    See also the <a href="terms_and_conditions">terms and conditions</a>.
</p>

<h2>Developer?</h2>

<p>
This is an open source project. Contribute on our <a href="https://github.com/smrfeld/the-masked-manual-python">GitHub</a>.
</p>


{% endblock %}

{% endblock %}