<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="background-color: rgba(0,0,0,0.5);color: rgb(255,255,255);">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="/#page-top">The Masked Manual</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler float-right" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/#download">Download</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/#features">Features</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" id="mainNav">Contribute</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section class="mysection" style="background-color: rgba(0,0,0,0.5);">
        <div class="row">
            <div class="col align-self-center col-lg-12">
                <h1 class="text-center mb-12" style="color: rgb(255,255,255);">Privacy policy</h1>
            </div>
        </div>
        <div class="row justify-content-center mysection">
            <div class="col align-self-center col-lg-12" style="color: rgb(255,255,255); padding: 100px;">
                <p>This application does not collect or store any personal data from you. We don't track or collect anything. Period.</p>
                <p>Here, the formal definition of what is meant by "personal data" is that of the European Union (EU) General Data Protection Regulation (GDPR). It can be found at: https://gdpr.eu, and is reproduced here for your convenience:<br></p>
                <p>"‘Personal data’ means any information relating to an identified or identifiable natural person (‘data subject’); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier
                    such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person."<br></p>
                <p>Camera images are used only for the sole purpose of identifying the name and manufacturer of a mask or respirator product. The images are not sent to any server and are not stored anywhere, including on your phone.&nbsp;<br></p>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>©&nbsp;The Masked Manual 2020. Released under open source MIT license.</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="privacy_policy">Privacy</a></li>
                <li class="list-inline-item"><a href="terms_and_conditions">Terms</a></li>
                <li class="list-inline-item"></li>
            </ul>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>