{% extends 'base.html' %}

{% block content %}
    
{% block title %} 
<h1> Privacy Policy </h1> 

<p>
This application does not collect or store any personal data from you. We don't track or collect anything. Period.
</p>

<p>
Here, the formal definition of what is meant by "personal data" is that of the European Union (EU) General Data Protection Regulation (GDPR). It can be found at: https://gdpr.eu, and is reproduced here for your convenience:
</p>

<p>
"‘Personal data’ means any information relating to an identified or identifiable natural person (‘data subject’); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person."
</p>

<p>
Camera images are used only for the sole purpose of identifying the name and manufacturer of a mask or respirator product. The images are not sent to any server and are not stored anywhere, including on your phone. 
</p>

{% endblock %}

{% endblock %}