<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>The Masked Manual</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="background-color: rgba(0,0,0,0.5);color: rgb(255,255,255);">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="/#page-top">The Masked Manual</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler float-right" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/#download">Download</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/#features">Features</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/#contribute">Contribute</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section class="mysection">
        <div class="row mysection">
            <div class="col align-self-center col-lg-12">
                <h1 class="text-center mb-12" style="color: rgb(255,255,255);">Terms of use</h1>
            </div>
        </div>
        <div class="row justify-content-center mysection">
            <div class="col text-left align-self-center col-lg-12" style="color: rgb(255,255,255); padding: 100px;">
                <p>This application (The Masked Manual), including all data and information displayed and all external links, is&nbsp;<strong>not affiliated with or endorsed by the U.S. government or any federal or state agency</strong>.</p>
                <p>Reference to specific commercial products, manufacturers, companies, or trademarks does not constitute its endorsement or recommendation by the U.S. Government, Department of Health and Human Services, Centers for Disease Control and Prevention,
                    or U.S. Food and Drug Administration.<br></p>
                <p>Reference to specific commercial products, manufacturers, companies or trademarks does not constitute its endorsement by the creators of this application, it's label, or other individuals. The application makes no statements or recommentdations
                    regarding proper mask usage, no recommendations for purchasing decisions, and no health advice of any form.<br></p>
                <p>This application is open source software. It is released under a permissive MIT license as follows below.<br></p>
            </div>
        </div>
        <div class="row mysection">
            <div class="col align-self-center col-lg-12">
                <h3 class="text-center mb-12" style="color: rgb(255,255,255);">MIT License</h3>
            </div>
        </div>
        <div class="row justify-content-center mysection">
            <div class="col align-self-center col-lg-12" style="color: rgb(255,255,255); padding: 100px;">
                <p>Copyright 2020 Oliver K. Ernst<br></p>
                <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to
                    use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:<br></p>
                <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.<br></p>
                <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
                    COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br></p>
            </div>
        </div>
        <div class="row mysection">
            <div class="col align-self-center col-lg-12">
                <h3 class="text-center mb-12" style="color: rgb(255,255,255);">Data sources<br></h3>
            </div>
        </div>
        <div class="row justify-content-center mysection">
            <div class="col align-self-center col-lg-12" style="color: rgb(255,255,255); padding: 100px;">
                <p>The source for each data is listed explicitly in the application for each mask or respirator entry. Data are sourced from:<br></p><a href="https://open.fda.gov/" style="color: rgb(0,71,255);">openFDA of the U.S. Food and Drug Administration (FDA)<br></a>
                <a
                    href="https://www.fda.gov/medical-devices/coronavirus-disease-2019-covid-19-emergency-use-authorizations-medical-devices/personal-protective-equipment-euas" style="color: rgb(0,71,255);">Emergency Use Authorizations for Medical Devices of the U.S. Food and Drug Administration (FDA)<br></a><a href="https://www.cdc.gov/niosh/npptl/" style="color: rgb(0,71,255);">National Personal Protective Technology Laboratory (NPPTL) of the Centers for Disease Control and Prevention (CDC)<br></a>
                    <p></p>
                    <p>The substantive content of the materials has not been changed from their original sources.<br></p>
                    <p>The material is otherwise available on the respective agency website for no charge.<br></p>
                    <p>The terms of service for all data follow from their source as indicated for each entry for a mask. Data from openFDA is available under Creative Commons CC0 1.0 Universal dedication (timestamp: 11/28/2020). Data from the CDC provided
                        here is not under copyright and is in the public domain (timestamp: 11/28/2020). Data from the FDA provided here is not under copyright and is in the public domain (timestamp: 11/28/2020).<br></p>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>©&nbsp;The Masked Manual 2020. Released under open source MIT license.</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="privacy_policy">Privacy</a></li>
                <li class="list-inline-item"><a href="terms_and_conditions">Terms</a></li>
                <li class="list-inline-item"></li>
            </ul>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>