{% extends 'base.html' %}

{% block content %}
    
{% block title %} 
<h1> Terms and Conditions </h1> 

<p>
This application (The Masked Manual), including all data and information displayed and all external links, is <b>not affiliated with or endorsed by the U.S. government or any federal or state agency</b>.
</p>

<p>
Reference to specific commercial products, manufacturers, companies, or trademarks does not constitute its endorsement or recommendation by the U.S. Government, Department of Health and Human Services, Centers for Disease Control and Prevention, or U.S. Food and Drug Administration.
</p>

<p>
Reference to specific commercial products, manufacturers, companies or trademarks does not constitute its endorsement by the creators of this application, it's label, or other individuals. The application makes no statements or recommentdations regarding proper mask usage, no recommendations for purchasing decisions, and no health advice of any form.
</p>

<p>
This application is open source software. It is released under a permissive MIT license as follows:
</p>

<hr>

<p>
Copyright 2020 Oliver K. Ernst
</p>

<p>
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
</p>

<p>
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
</p>

<p>
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</p>

<hr>

<h2> Data sources </h2> 

<p>
    The source for each data is listed explicitly in the application for each mask or respirator entry. Data are sourced from:
    <ul>
        <li><a href="https://open.fda.gov">openFDA of the U.S. Food and Drug Administration (FDA)</a></li>
        <li><a href="https://www.fda.gov/medical-devices/coronavirus-disease-2019-covid-19-emergency-use-authorizations-medical-devices/personal-protective-equipment-euas">Emergency Use Authorizations for Medical Devices of the U.S. Food and Drug Administration (FDA)</a></li>
        <li><a href="https://www.cdc.gov/niosh/npptl/">National Personal Protective Technology Laboratory (NPPTL) of the Centers for Disease Control and Prevention (CDC)</a></il>
    </ul>
</p>

<p>
    The substantive content of the materials has not been changed from their original sources.
</p>

<p>
    The material is otherwise available on the respective agency website for no charge.
</p>

<p>
    The terms of service for all data follow from their source as indicated for each entry for a mask. Data from openFDA is available under Creative Commons CC0 1.0 Universal dedication (timestamp: 11/28/2020). Data from the CDC provided here is not under copyright and is in the public domain (timestamp: 11/28/2020). Data from the FDA provided here is not under copyright and is in the public domain (timestamp: 11/28/2020).
</p>


{% endblock %}

{% endblock %}